<p style="color: green"><%= notice %></p>

<h1>Vols</h1>

<div id="vols">
  <% @vols.each do |vol| %>
    <%= render vol %>

  <% end %>
</div>

<%= link_to "New vol", new_vol_path %>

<%= pagy_nav(@pagy).html_safe %>
